<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="topBar">
        
        <a th:href="@{/ano/}" id="">P'TAO TUTORs</a>
        <a th:href="@{/ano/}" id="">Home</a>
        <a th:href="@{/ano/Courses}" id="">Courses</a>
        <a th:href="@{/ano/support}" id="">Support</a>
        <a th:href="@{/student/profile}" id="">Profile</a>
        <a th:href="@{/login}" id="Loginbutt">Login</a>
        <a th:href="@{/logout}" id="Logoutbutt">LogOut</a>
        </div>

    <p th:text="${resp}"></p>
</body>
</html>