<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 th:text="${cate != null} ? ${cate.categoryName} : 'No category detected'"></h1>
    <h2>All Courses</h2>
   
     
        <div th:each="course:${courses}">
           
                <div style="border: solid black 2px; width: 150px;">
                    <a th:href="@{/ano/theCousre/{cId}(cId =${course.id})}" style="display: block;
                    height: 100%;
                    width: 100%;
                    text-decoration: none;">
                    
                    <img th:src="@{https://storage.googleapis.com/{src}(src=${course.thumbnail_src})}" >
                    <p th:text="${course.courseName}"></p>
                    <span th:utext="${'&#3647;'}" ></span></b><span th:text="${course.price}"></span>
                    <p th:text="${course.createDate}"></p>
                    
                    </a>
                </div>
            


        </div>
    
</body>
</html>