<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="topBar">
        
        <a th:href="@{/ano/}" id="">P'TAO TUTORs</a>
        <a th:href="@{/ano/}" id="">Home</a>
        <a th:href="@{/ano/Courses}" id="">Courses</a>
        <a th:href="@{/ano/support}" id="">Support</a>
        <a th:href="@{/student/profile}" id="">Profile</a>
        <a th:href="@{/login}" id="Loginbutt">Login</a>
        <a th:href="@{/logout}" id="Logoutbutt">LogOut</a>
        </div>
    <br>
    <div    >
     <h1><p th:text="${course.courseName}"></p></h1>
     <h3>Course Introduction</h3>
     <video controls th:src="@{https://storage.googleapis.com/{src}(src=${course.intro_src})}"></video>
     <br>
     <span th:utext="${'&#3647;'}" ></span></b><span th:text="${course.price}"></span>
     <br>
     <td  th:text="${course.category != null} ? ${course.category.categoryName} : 'No category detected'"></td>
     <p th:text ="${course.course_description}"></p>
     <p th:text="${course.createDate}"></p>
    </div>
   
    
    <div>
        <h3> All Units </h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Units</th>
                    <th>Description</th>
                
                </tr>
            </thead>
            <tbody>
                <tr th:each="unit : ${units}">
                    <td th:text="${unit.title}"></td>
                    <td th:text="${unit.description}"></td>
                    
                    </td>
                </tr>
            </tbody>
        </table> 
    </div>
</body>
</html>