<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <a th:href="@{/ano/Courses}" id="">Courses</a>
    <a th:href="@{/ano/FAQ}" id="">FAQ</a>
    <a th:href="@{/ano/contacts}" id="">contacts</a>
    <a th:href="@{/student/profile}" id="">profile</a>
    <a th:href="@{/login}" id="Loginbutt">login</a>
    <a th:href="@{/logout}" id="Logoutbutt">logOut</a>
    Here Home
</body>
</html>