<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="topBar">
        
        <a th:href="@{/ano/}" id="">P'TAO TUTORs</a>
        <a th:href="@{/ano/}" id="">Home</a>
        <a th:href="@{/ano/Courses}" id="">Courses</a>
        <a th:href="@{/ano/support}" id="">Support</a>
        
        <div sec:authorize="hasAuthority('STUDENT')">
            <a th:href="@{/student/profile}" id="">Profile</a>
        </div>
    
        <div sec:authorize="isAuthenticated()">
        <a th:href="@{/logout}">Log out</a>
        </div>
    
        <div sec:authorize="isAnonymous()">
        <a th:href="@{/login}">Log in</a>
        <a th:href="@{/register}"> Register </a>
        </div>
        <!--<a th:href="@{/login}" id="Loginbutt">Login</a>
        <a th:href="@{/logout}" id="Logoutbutt">LogOut</a>-->
        </div>
    
    <div class="login-page">
        <div class="form">
          <h2>Please Log In</h2>
          <div class="error" th:if="${param.error}">
              Invalid username Or password.</div>
          <div class="error" th:if="${param.logout}">
              You have been logged out.</div>
          <form  class="login-form" th:action="@{/login}" method="post">
              <div>
              <input type="text" name="username" placeholder="Username"/>
              </div>
              <div>
              <input type="password" name="password" placeholder="Password"/>
              </div>
              <input class="button" type="submit" value="Log in" />
          </form>
          
      </div>
  </div>

    <a href="/oauth2/authorization/google">Google</a>
</body>
</html>