<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="topBar">
        
        <a th:href="@{/ano/}" id="">P'TAO TUTORs</a>
        <a th:href="@{/ano/}" id="">Home</a>
        <a th:href="@{/ano/Courses}" id="">Courses</a>
        <a th:href="@{/ano/support}" id="">Support</a>
        
        <div sec:authorize="hasAuthority('STUDENT')">
            <a th:href="@{/student/profile}" id="">Profile</a>
        </div>
    
        <div sec:authorize="isAuthenticated()">
        <a th:href="@{/logout}">Log out</a>
        </div>
    
        <div sec:authorize="isAnonymous()">
        <a th:href="@{/login}">Log in</a>
        <a th:href="@{/register}"> Register </a>
        </div>
        <!--<a th:href="@{/login}" id="Loginbutt">Login</a>
        <a th:href="@{/logout}" id="Logoutbutt">LogOut</a>-->
        </div>
        
    <br>
    <H2>Hi~ </H2>
    <h2><span th:text="${username}"></span></h2>

    <div class="input">
        <form th:action="@{/student/myCou}"  method="get">
            <button type="submit" class="btn btn-primary">My Course</button>
        </form>
        </div>

</body>
</html>