<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    
    <div class="topBar">
        
        <a th:href="@{/ano/}" id="">P'TAO TUTORs</a>
        <a th:href="@{/ano/}" id="">Home</a>
        <a th:href="@{/ano/Courses}" id="">Courses</a>
        <a th:href="@{/ano/support}" id="">Support</a>
        
        <div sec:authorize="hasAuthority('STUDENT')">
            <a th:href="@{/student/profile}" id="">Profile</a>
        </div>
    
        <div sec:authorize="isAuthenticated()">
        <a th:href="@{/logout}">Log out</a>
        </div>
    
        <div sec:authorize="isAnonymous()">
        <a th:href="@{/login}">Log in</a>
        <a th:href="@{/register}"> Register </a>
        </div>
        <!--<a th:href="@{/login}" id="Loginbutt">Login</a>
        <a th:href="@{/logout}" id="Logoutbutt">LogOut</a>-->
        </div>


     <h1><p th:text="${course.courseName}"></p></h1>
     <h3>Course Introduction</h3>
     <video controls th:src="@{https://storage.googleapis.com/{src}(src=${course.intro_src})}"></video>
     <br>

     <span th:utext="${'&#3647;'}" ></span></b><span th:text="${course.price}"></span> 

        

     <br>
     <td  th:text="${course.category != null} ? ${course.category.categoryName} : 'No category detected'"></td>
     <p th:text ="${course.course_description}"></p>
     <p th:text="${course.createDate}"></p>
    </div>
   
    
    <div>
        <h3> All Units </h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Units</th>
                    <th>Description</th>
                    <th>Action</th>
                
                </tr>
            </thead>
            <tbody>
                <tr th:each="unit : ${units}">
                    <td th:text="${unit.title}"></td>
                    <td th:text="${unit.description}">
                    </td>
                    <td>
                    <form th:action="@{/student/watchCou/{cId}/{vId} (cId =${unit.course.id}, vId = ${unit.id})}" method="get">

                        <button type="submit" class="btn btn-primary">Watc</button>
                    </form>
                    </td>
                </tr>
            </tbody>
        </table> 
    </div>
</body>
</html>