<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="https://console.cloud.google.com/storage/browser/projectptao" target=”_blank” >Upload Video to Google Cloud Storage</a>

    <div class="back">
        <form th:action="@{/tutor/manageCou}"  method="get">
            <button type="submit" class="btn btn-primary">Back</button>
            </form>
    </div>

    <div class="">
        <h1>All Units</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Video</th>
                    <th>Action</th>
            
                </tr>
            </thead>
            <tbody>
                <tr th:each="video : ${videos}">
                    <td th:text="${video.title}"></td>
                    <td th:text="${video.description}"></td>
                    <td><video th:src="@{https://storage.googleapis.com/{src}(src=${video.path})}" controls></video></td>
                    <td>
                        <form method="POST" th:action="@{/tutor/deleVid/{idc}/{idv}(idc=${video.course.id}, idv=${video.id})}">
                            <button type="submit"name="submit"value="value"class="link-button">DELETE</button>
                        </form>
                        <form method="GET" th:action="@{/tutor/editVid/{vId}(vId=${video.id})}">
                            <button type="submit"name="submit"value="value"class="link-button">EDIT</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table> 
    </div>

    <div class="input">
    <form th:action="@{/tutor/uplVid/{id}/videos (id=${newVideo.course.id})}" th:object="${newVideo}" method="post">
        <div class="">
        <label for="title">Title: </label>
        <input type="text" id="title" th:field="*{title}" required>
        <label for="description">Description: </label>
        <textarea cols="30" rows="10" type="text" id="description" th:field="*{description}" required></textarea>
        <label for="path">Video Source: </label>
        </div>
        <input type="text" id="path" th:field="*{path}" required>
        <button type="submit" class="btn btn-primary">Upload Video</button>
    </form>
    </div>

    

</body>
</html>