<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    Here tutorMenu
    <br>
    <a th:href="@{/tutor/uplCou}"  id="">Upload course</a>
    <br>
    <a th:href="@{/tutor/manageCou}"  id="">Manage Course</a>
    <br>
    <a th:href="@{/tutor/buyingReq}"  id="">Buying Request</a>
    <br>
    <a th:href="@{/tutor/tutorFAQ}"  id="">Tutor FAQ Page</a>



    
</body>
</html>